.faq_group {
  color: white;
  width: 100%;
  border-radius: 10px;
  width: 800px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;

  .faq_qns {
    cursor: pointer;
    padding: 10px 30px;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;

    h2 {
      font-weight: normal;
      text-transform: capitalize;
    }

    h1 {
      cursor: pointer;
    }
  }

  .faq_ans {
    background: #1d1c20;
    padding: 20px 30px;
    letter-spacing: 1px;
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .faq_group {
    width: 300px;

    .faq_qns {
      padding: 10px 20px;
      letter-spacing: 1px;

      h2 {
        font-weight: normal;
        text-transform: capitalize;
        font-size: 18px;
      }

      h1 {
        cursor: pointer;
      }
    }

    .faq_ans {
      background: #1d1c20;
      padding: 20px 30px;
      letter-spacing: 1px;
      font-size: 18px;
    }
  }
}