.about_section {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  .about_content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1d1c20;
    border-radius: 10px;
    width: 80%;

    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      img {
        width: 500px;
      }
    }

    .right {
      width: 100%;

      h1 {
        color: white;
        letter-spacing: 1px;
        margin-bottom: 20px;
      }

      p {
        padding: 20px;
        color: #ababab;
        line-height: 30px;
      }
    }
  }
}


@media screen and (max-width: 920px){
  .about_section {
    padding: 20px;

    .about_content {
      flex-direction: column;

      .left {
        img {
          width: 300px;
        }
      }

      .right {
        p {
          line-height: 30px;
          font-size: 15px;
          letter-spacing: 1px;
        }
      }
    }
  }
}


@media screen and (max-width: 400px){
  .about_section {
    .about_content {
      .right {
        p {
          font-size: 10px;
          line-height: 20px;
          text-align: justify;
        }
      }
    }
  }
}