.main_container {
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  padding: 80px;
  width: 100%;

  .view_messages {
    border-radius: 5px;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.08);

    .messages {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 20px;
    }
  }

  .main_content {
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .send_message {
      -webkit-backdrop-filter: blur(16px);
      backdrop-filter: blur(16px);
      background-color: rgba(255, 255, 255, 0.08);
      border: 1px solid rgba(255, 255, 255, 0.08);
      color: white;
      padding: 20px;
      border-radius: 5px;
      width: 100%;

      form {
        .input-group {
          display: flex;
          flex-direction: column;

          input, textarea, button {
            padding: 10px 30px;
            margin-bottom: 20px;
            background: #1d1c20;
            border: 2px solid #1d1c20;
            border-radius: 5px;
            color: white;

            &:focus {
              border: 2px solid #ababab;
            }
          }

          button {
            margin-bottom: 5px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
              border: 2px solid #ababab;
            }
          }
        }
      }
    }



    .user_details {
      width: 100%;
      margin-right: 30px;
      -webkit-backdrop-filter: blur(16px);
      backdrop-filter: blur(16px);
      background-color: rgba(255, 255, 255, 0.08);
      border: 1px solid rgba(255, 255, 255, 0.08);
      color: white;
      padding: 20px;
      border-radius: 5px;
      height: 400px;
      position: relative;

      h3 {
        letter-spacing: 1px;
      }

      p {
        color: #ababab;
        margin-bottom: 20px;
      }

      h5 {
        letter-spacing: 1px;
        font-weight: 500;
        display: flex;
      }

      .buttons {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin-top: 10%;

        button {
          cursor: pointer;
          width: 100%;
          padding: 10px;
          border-radius: 5px;
          margin: 10px 0;
          font-weight: bold;
          transition: all 0.3s ease-in-out;
          border: 2px solid #373737;
          background: #373737;
          color: #ababab;
          letter-spacing: 1px;

          &:hover {
            border: 2px solid #ababab;
          }
        }
      }
    }
  }
}